venv/
env/
twisto/src
__pycache__
.idea
*.pyc
*.css.map
/ca-certificates.crt
twisto/celerybeat-schedule
Thumbs.db
.localenv
doc/*
twisto/twisto/settings/dev_*
!twisto/twisto/settings/dev_docker.py
!twisto/twisto/settings/dev_nodebug.py
!twisto/twisto/settings/dev_test_fast.py
.DS_Store
twisto/.docker-env/frontend/static
.pytest_cache
twisto/locale/**/*.po
twisto/locale/**/*.mo
dev.*.yml
.vscode
.vagrant
*.log
twisto/.coverage
twisto/coverage.xml
twisto/.hypothesis
site/
!twisto/libs/site/
